.App {
  text-align: center;
}

.App_Components {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.CartActive {
  display: grid;
  grid-template-columns: 0 60% auto;
}

.CartActive > .Main {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-row-gap: 0;
  height: auto;
  transition: 2s;
}

header {
  color: white;
  background-color: rgb(48, 48, 48);
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header span {
  margin-left: 40%;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.fa-shopping-cart {
  margin-left: 30%; 
  cursor: pointer;
  color: rgb(255, 181, 43);
  text-shadow: 10px 5px 1px rgb(0, 0, 0);
}