.Cart {
    background-color: rgb(255, 173, 21);
    height: 100%;
    border-left: solid 1px black;
}

.Cart:hover {
    box-shadow: 0px 0px 10px 2px black;
    transition: 0.5s;
}

.fa-shopping-bag {
    font-size: 50px;
    color: black;
    text-decoration: none;
}